const vector<{RET_TYPE}>& {NAME}(){
  if({OBJ_VAR}.size() > 0) return {OBJ_VAR};
  load{RET_TYPE}s();
  {ITRATORS}
  for(; {END_COND}; ){
    {RET_TYPE} obj;
    {IT_DUMP}
    {OBJ_VAR}.push_back( obj );
    {IT_INCREMENT}
  }
  return {OBJ_VAR};
}
